.main{
    padding: 4rem 6rem;

&__title{
    text-transform: uppercase;
    font-size: $primary-xxx-large;
}
&__text{
    font-family:$secondaryfont;
    line-height: 1.8;
    font-size: $secondary-large;
    color:$granitegray;
    margin-bottom: 2rem;
    padding-right: 6rem;
}

}